html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 280px;
    background-color: #1e1e2f;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
}

    .sidebar::-webkit-scrollbar {
        width: 0px; /* Chrome, Edge, Safari */
        background: transparent;
    }

    .sidebar h2 {
        font-size: 26px;
        margin-bottom: 20px;
        color: #3b82f6;
    }

    .sidebar a {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        color: #fff;
        text-decoration: none;
        border-radius: 8px;
        margin-bottom: 1px;
        transition: background 0.3s, color 0.3s;
    }

        .sidebar a i {
            margin-right: 10px;
        }

        .sidebar a.active,
        .sidebar a:hover {
            background: rgba(59,130,246,0.3);
            color: #3b82f6;
        }

.menu-group {
    margin-bottom: 1px;
}

.main-content {
    flex: 1;
    background-color: #f0f2f5;
    padding: 30px;
    overflow-y: auto;
    scroll-behavior: smooth; 
    scrollbar-width: none; 
}

    .main-content::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

/* Responsividade */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .main-content {
        padding: 15px;
    }
}
